body {
  font-family: Helvetica, Arial;
  color: white;

  position: static;
}
.scoreboard {
  background-color: rgb(50, 100, 85);
  width: 500px;
  height: 150px;
  position: relative;
}

h1.fieldName {
  font-size: 18pt;
  position: absolute;

  left: 10%;
  top: 0px;
}
h2 {
  font-size: 12pt;
  font-weight: bold;
}
.team {
  position: absolute;
}

#away {
  top: 65px;
  left: 1%;
}
#home {
  top: 100px;
  left: 1%;
}
.scoreTable {
  position: relative;
  left: 60px;
}
.inningLabels {
  position: absolute;
  top: 20px;
}
th {
  padding: 10px;
}

.awayScores {
  font-size: 12pt;
  font-weight: normal;

  position: absolute;

  top: 50px;
}
td {
  border: 3px solid black;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 5px;
}
.homeScores {
  font-size: 12pt;
  font-weight: normal;

  position: absolute;

  top: 85px;
}
#awayR {
  border: 3px solid white;
}
#homeR {
  border: 3px solid white;
}

img {
  position: absolute;
  left: 380px;
  width: 120px;
}
.controlCenter {
  background-color: black;
  width: 200px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  border-style: outset;
}
.controlCName {
  text-align: center;
  font-size: 14pt;
}
button {
  width: 30px;
  height: 30px;
}
