body {
  font-family: Helvetica, Arial;
  color: white;

  position: static;
}
.scoreboard {
  background-color: rgb(50, 100, 85);
  width: 500px;
  height: 150px;
  position: relative;
}
.controlCenter {
  background-color: black;
  width: 50%;
}
h1.fieldName {
  font-size: 18pt;
  position: absolute;

  left: 10%;
  top: 0px;
}
h2 {
  font-size: 12pt;
  font-weight: bold;
}
.team {
  position: absolute;
}

#away {
  top: 65px;
  left: 1%;
}
#home {
  top: 100px;
  left: 1%;
}
.scoreTable {
  position: relative;
  left: 60px;
}
.inningLabels {
  position: absolute;
  top: 20px;
}
th {
  padding: 8px;
}

.awayScores {
  font-size: 12pt;
  font-weight: normal;

  position: absolute;

  top: 50px;
}
td {
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
}
.homeScores {
  font-size: 12pt;
  font-weight: normal;

  position: absolute;

  top: 85px;
}

img {
  position: absolute;
  left: 380px;
}
